.summary {
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.left {
    width: 100%;
}

.title,
.user {
    padding-left: 30px;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.user {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: end;
    gap: 5px;
}

.right {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}

.subject {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BABABA;
}