.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}

.test {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    flex-wrap: wrap;
    grid-gap: 50px;
}


.article {
    background: #F4F8FB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 275px;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.article:hover {
    background: #e6e9ec;
    transition: all ease-in-out 0.3s;
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    text-align: left;
}

.imgContainer {
    margin-top: 15px;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80px;

    position: relative;
}

.name {
    margin-left: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;

}

.ref {
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #BABABA;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.details {
    background: linear-gradient(90deg, #403698 4.29%, #0C0169 115.23%);
    border-radius: 53px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.addSlice {
    background: linear-gradient(90deg, #403698 4.29%, #0C0169 115.23%);
    border-radius: 53px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}