.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 70px;
    align-items: center;
    color: black;
    font-size: 16px;
    background-color: #ffffffda;
}

.container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
}

.titles {
    display: flex;
    justify-content: center;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.li {
    display: inline-block;
}

.a {
    display: block;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #312783;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    height: 40px;
}